# For Loop

In [ ]:
#for loop helps us to maintain code complexity and time complexity.
#here we use range function of python to give the limitation of forloop
#range function starts its value from 0
#There are three keyword of for loop.
#Break
#Continue
#to stop loop we use break and continue
#Pass

In [4]:
for i in range(4):
    print(f"{i} My name is Ayesha")

0 My name is Ayesha
1 My name is Ayesha
2 My name is Ayesha
3 My name is Ayesha

In [14]:
for i in range(2,8):
    print(f"{i} My name is Ayesha")

2 My name is Ayesha
3 My name is Ayesha
4 My name is Ayesha
5 My name is Ayesha
6 My name is Ayesha
7 My name is Ayesha

In [15]:
for i in range(0,10,2):
    print(f"{i} My name is Ayesha")

0 My name is Ayesha
2 My name is Ayesha
4 My name is Ayesha
6 My name is Ayesha
8 My name is Ayesha

In [8]:
#for even sequence
for i in range(0,11,2):
    print(i, end = " ")

0 2 4 6 8 10

In [29]:
#for odd sequence
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [20]:
#for reverse sequence
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [2]:
#for reverse even sequence
for i in range(10,-1,-2):
    print(i)

10
8
6
4
2
0

In [27]:
#for reverse odd sequence
for i in range(9,0,-2):
    print(i)

9
7
5
3
1

# Loops in List

In [3]:
my_list = ["Ayesha", "Sana","Maria", "Salman","Ahmed"]
for i in my_list:
    print(i)

Ayesha
Sana
Maria
Salman
Ahmed

In [5]:
my_list = ["Ayesha", "Sana","Maria", "Salman","Ahmed"]
new_list = []
for i in my_list:
    new_list.append(i)
print(new_list)

['Ayesha', 'Sana', 'Maria', 'Salman', 'Ahmed']

In [35]:
my_num = [2,4,6,8,10]
new_list = []
for i in my_num:
    new_list.append(i * 2)
print(new_list)

[4, 8, 12, 16, 20]

In [7]:
even_list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in even_list:
    if i%2 == 0:
        new_list.append(i)
print(new_list)

[2, 4, 6, 8, 10]

In [44]:
for i in range(10):    #in break the loop will stops when it gets 3
    if i == 3:        i -0 i --2 i===3
        break
    else:
        print(i)

0
1
2

In [54]:
for i in range(10):   #in continue the loop skips 3 and then again continue
    if i == 3 or i ==7:
        continue
    else:
        print(i)

0
1
2
4
5
6
8
9

In [8]:
for i in range(10):
    if i=='s':
        pass
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
#Print the table
number = int(input("Enter the number of Table: "))
for i in range(1,11):
    ans = number * i
    print(f"{number} * {i} = {ans}")

Enter the number of Table: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# Using Loop on String

In [9]:
for i in "shayan":
    print(i)

s
h
a
y
a
n

In [60]:
for i in "Pakistan":    #Inner Loop
    for j in range(5): #Outer Loop
        print(i,j)

P 0
P 1
P 2
P 3
P 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [68]:
first_name = ["Ayesha","Aaliya","Shayan","Sundus","Abdullah"]
last_name = ["Noor","Syed","Khan","Aijaz","Ejaz"]
full_name = []
for i in first_name:
    for j in last_name:
        full_name.append(i + " "+j)
print(full_name)

['Ayesha Noor', 'Ayesha Syed', 'Ayesha Khan', 'Ayesha Aijaz', 'Ayesha Ejaz', 'Aaliya Noor', 'Aaliya Syed', 'Aaliya Khan', 'Aaliya Aijaz', 'Aaliya Ejaz', 'Shayan Noor', 'Shayan Syed', 'Shayan Khan', 'Shayan Aijaz', 'Shayan Ejaz', 'Sundus Noor', 'Sundus Syed', 'Sundus Khan', 'Sundus Aijaz', 'Sundus Ejaz', 'Abdullah Noor', 'Abdullah Syed', 'Abdullah Khan', 'Abdullah Aijaz', 'Abdullah Ejaz']