# Operators

In [2]:
a=10
b=3
a+b

13

In [2]:
a-b

7

In [3]:
a**b

1000

In [3]:
a*b

30

In [4]:
a/b

3.3333333333333335

In [5]:
a//b

3

In [6]:
a%b

1

In [13]:
b=2
b+=4
b

6

In [11]:
a+=9
print(a)

28

In [14]:
b+=a
print(b)

34

In [17]:
a>b

False

In [18]:
a<b

True

In [19]:
a==b

False

In [20]:
a!=b

True

# Precedence

In [15]:
(3+2)*2+5/2

12.5

In [16]:
(3+2)*2+5**2/2

22.5

# Concatenation of Strings

In [23]:
firstname= 'Ayesha'
lastname = 'Noor'
fullname= firstname+lastname
print(fullname) #without gap
print(firstname+' '+lastname) #gap between the strings

AyeshaNoor
Ayesha Noor

In [24]:
print('abc'+12345)

TypeError: can only concatenate str (not "int") to str

In [25]:
print('abc'+'12345') #only concatenate strings not integers

abc12345

In [26]:
num=123
name='ayesha'
#now for concatenation we have to do type casting
print('ayesha'+str(num))

ayesha123

In [31]:
firstname = 'Ayesha'
lastname = 'Noor'
age = 20
print('My Name is ' +firstname+' '+lastname+' and My Age is '+str(age))

My Name is Ayesha Noor and My Age is 20

# Format

In [33]:
firstname = 'Ayesha'
lastname = 'Noor'
age = 20
print('My Name is {} {} and My Age is {}.'.format(firstname,lastname,age))

My Name is Ayesha Noor and My Age is 20.

In [37]:
firstname = 'Ayesha'
lastname = 'Noor'
age = 20
print('My Name is {0} {1} and My Age is {2}.'.format(firstname,lastname,age))

My Name is Ayesha Noor and My Age is 20.

In [38]:
firstname = 'Ayesha'
lastname = 'Noor'
age = 20
print('My Name is {1} {0} and My Age is {2}.'.format(firstname,lastname,age))

My Name is Noor Ayesha and My Age is 20.

# Another Way of Doing Format

In [39]:
firstname = 'Ayesha'
lastname = 'Noor'
age = 20
print(f'My Name is {firstname} {lastname} and My Age is {age}.')

My Name is Ayesha Noor and My Age is 20.