# List

In [8]:
#we use list to gather values at one place.

In [15]:
students = ['ayesha', 'sana','maria','salman','faraz']       #getting the list items.
#index           0      1      2       3        4
students

['ayesha', 'sana', 'maria', 'salman', 'faraz']

In [16]:
type(students)   #getting the student list type

list

In [21]:
students.append('sundus')          #Adding new name in the list using 'append'
print(students, end="\n")

['ayesha', 'sana', 'maria', 'salman', 'faraz', 'sundus', 'lakshmi', 'sundus', 'sundus']

In [19]:
students = students + ['lakshmi'] #alternative way to append
students

['ayesha', 'sana', 'maria', 'salman', 'faraz', 'sundus', 'lakshmi']

In [3]:
students.insert(4,'najma')       #Adding new name in the list at a particular index using 'insert'
students

['ayesha', 'sana', 'maria', 'salman', 'najma', 'faraz', 'sundus']

In [42]:
students.pop(2)               #Deleting name using pop by giving the index of the name
students

['ayesha', 'sana', 'sundus']

In [5]:
names = []    #emptylist
print(names)

[]

In [6]:
names.append('sana')
print(names)

['sana']

In [7]:
del names[0]       #deleting element from list using 'delete' and give articular index
print(names)

[]

In [22]:
names[0] = 'ayesha'
names

['ayesha']

In [28]:
students

['ayesha', 'sana', 'maria', 'salman', 'faraz']

In [30]:
students.index('ayesha')       #if the value is multiple times than it will only show the index of first

0

In [44]:
students

['ayesha', 'sana', 'sundus', 'najma']

In [45]:
students.remove('ayesha')    #deleting name from list by giving the particular name using 'remove'
students

['sana', 'sundus', 'najma']

In [46]:
students.sort()          #for sorting the list in ascending order
students

['najma', 'sana', 'sundus']

In [47]:
students.sort(reverse=True)    #to sort list in decending order
students

['sundus', 'sana', 'najma']

In [51]:
mix = ['v',1,'x','a',5]
mix.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [2]:
alphabets = ['z','s', 'a', 'g', 'o', 'b']
numbers = [1,8,3,7,2,9,0,5]
len(numbers)

8

In [52]:
alphabets.extend(numbers)
alphabets

['z', 's', 'a', 'g', 'o', 'b', 1, 8, 3, 7, 2, 9, 0, 5]

In [54]:
alphabets.copy()

['z', 's', 'a', 'g', 'o', 'b', 1, 8, 3, 7, 2, 9, 0, 5]

In [62]:
#pass by referenece
letters = alphabets
letters

['z', 's', 'a', 'g', 'o', 'b']

In [63]:
del alphabets[1]
letters          #deleting something from aplphabet list also effects the letter list this is called pass by reference

['z', 'a', 'g', 'o', 'b']

In [67]:
string1 = alphabets.copy()     #pass by value
string1

['z', 'a', 'g', 'o']

In [68]:
del alphabets[1]      #if you delete something in alphabets it doesnt effect the copy list string1 this is pass by value.
string1

['z', 'a', 'g', 'o']

In [69]:
alphabets.clear() #delete all the items in the list.
alphabets

[]

In [3]:
numbers

[1, 8, 3, 7, 2, 9, 0, 5]

In [7]:
#pop saved the deleted values 
x = numbers.pop()
print(f"Popped Value is: {x}")
numbers

Popped Value is: 9

[1, 8, 3, 7, 2]

In [5]:
poppedlist = []

In [126]:
if len(numbers) > 0:
    poppeditem = numbers.pop()
    poppedlist.append(poppeditem)         #it can also be written as: poppedlist.append(numbers.pop)
    print(numbers)
    print(poppedlist)
else:
    print("Your List is empty now")

Your List is empty now

# List In List

In [134]:
double_list = [1,[2,3,4,5],8]
#index         0  1[0,1,2,3] 2
double_list[1][2]

4

In [135]:
#another example
mixed_list = [19,89,['apple','banana', 'mango', 'orange'], 100, 3]
print(mixed_list[2][3])

orange

In [10]:
fruits = ['apple','banana', 'mango', 'orange']
students = ['ayesha', 'sana','maria','salman','faraz','karachi']
abc = [1,2,3,['dodo', 'momo','soso'],fruits,students,6,8,['roro','rara']]
abc

[1,
 2,
 3,
 ['dodo', 'momo', 'soso'],
 ['apple', 'banana', 'mango', 'orange'],
 ['ayesha', 'sana', 'maria', 'salman', 'faraz', 'karachi'],
 6,
 8,
 ['roro', 'rara']]

In [11]:
abc[4].remove('apple')
abc

[1,
 2,
 3,
 ['dodo', 'momo', 'soso'],
 ['banana', 'mango', 'orange'],
 ['ayesha', 'sana', 'maria', 'salman', 'faraz', 'karachi'],
 6,
 8,
 ['roro', 'rara']]

In [12]:
x = abc[5].index('karachi')
del abc[5][5]
abc

[1,
 2,
 3,
 ['dodo', 'momo', 'soso'],
 ['banana', 'mango', 'orange'],
 ['ayesha', 'sana', 'maria', 'salman', 'faraz'],
 6,
 8,
 ['roro', 'rara']]

# Slicing

In [2]:
#          -6  -5  -4  -3  -2 -1    backward index             
numbers = [29, 67, 45, 3, 89, 90]
#          0   1    2  3   4   5    forward index

In [190]:
numbers[-5]

67

In [191]:
numbers[0:6]

[29, 67, 45, 3, 89, 90]

In [192]:
numbers[1:4]

[67, 45, 3]

In [194]:
numbers[0:6:2]

[29, 45, 89]

In [196]:
numbers[1:5:2] #its not gap its step

[67, 3]

In [197]:
numbers = [29, 67, 45, 3, 89, 90,4,23,56,4]

In [198]:
numbers[1:10:2]

[67, 3, 90, 23, 4]

In [199]:
numbers[:7]  #Starting point is 0

[29, 67, 45, 3, 89, 90, 4]

In [200]:
numbers[1:] #ending point is lastone in list

[67, 45, 3, 89, 90, 4, 23, 56, 4]

In [3]:
numbers[:] #print full list

[29, 67, 45, 3, 89, 90]

In [ ]:
#in slicing error generate nae hoga, it will show nothing if you write wrong
#slicing ki direction left to right hai

In [208]:
numbers[::-1]

[4, 56, 23, 4, 90, 89, 3, 45, 67, 29]

In [209]:
numbers[-1:-8:-1]

[4, 56, 23, 4, 90, 89, 3]

In [7]:
numbers[5::-1]

[90, 89, 3, 45, 67, 29]

In [14]:
nums = [1,2,3,4,5]
print(nums[::-3])

[5, 2]

#  Packing and Unpacking In List

In [9]:
rectangle = [100,200]   #Packing of items

In [10]:
height,width = rectangle #Unpacking of items.

In [11]:
height

100

In [12]:
width

200

# List Comprehension

In [1]:
a = [1,2,3,4,5]
square = []
for num in a:
    square.append(num**2)
print(square)

[1, 4, 9, 16, 25]

In [2]:
[num**2 for num in a  ] #single line code.

[1, 4, 9, 16, 25]